.navbar ul{
    list-style-type: none;
    background-color: hsl(309, 93%, 17%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 50%;
    
}
.navbar a:hover{
    background-color: hsl(254, 54%, 85%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 15%;
    }

#whole{
    background-color: rgb(247, 216, 244);
    text-align: center;

}
.second{
    display: flex;
    margin-top: 5%;
    font-size: x-large;
    background-color: rgb(247, 216, 244);
}


.box1{
    margin-left: 10%;
    height: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.box2{
    margin-left: 10%;
    height: 50px;
    font-family: 'Cormorant Garamond', serif;
}
footer{
    margin-top: 20%;
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
 }
