.navbar ul{
    list-style-type: none;
    background-color: hsl(309, 93%, 17%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 50%;
    
}
.navbar a:hover{
    background-color: hsl(254, 54%, 85%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 15%;
    }

.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    margin: 100px;
    
}
#whole{
  background-color: rgb(247, 216, 244);  
  font-family: 'PT Sans Narrow', sans-serif;
}
body{
    background-color: rgb(247, 216, 244)  ;
}
.box{
    background-color: rgb(238, 187, 182);
    margin-left: 100px;
    font-family:  'PT Sans Narrow', sans-serif;
    width: auto;
}


.box img{ width: 60%;
    margin-left: 17%;
        
        
         }
.firstpara{
    font-family: 'Cormorant Garamond', serif;
}
footer{
    margin-top: 20%;
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
 }